@model ISAD251_DatabaseApp.Models.CafeProducts

@{
    ViewData["Title"] = "DeleteProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete Product</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt>
            Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            Calories
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCalories)
        </dd>
        <dt>
            Details
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductDetails)
        </dd>
        <dt>
            Image
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
    </dl>

    <form asp-area="" asp-controller="Admin" asp-action="DeleteProduct">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete Product" class="btn btn-default" /> |
        <a class="margin" asp-area="" asp-controller="Admin" asp-action="Product">Back to List</a>
    </form>
</div>

@{
    if (ViewBag.success == true)
    {
        <div class="row margin">
            <div class="col-sm-2">
                <div class="card bg-success mb-3">
                    <div class="card-header bg-success text-center text-white">Product successfully deleted</div>
                </div>
            </div>
        </div>
    }
    else if (ViewBag.success == false)
    {
        <div class="row margin">
            <div class="col-sm-2">
                <div class="card bg-success mb-3">
                    <div class="card-header bg-danger text-center text-white">Product can't be deleted as it is used in orders</div>
                </div>
            </div>
        </div>
    }
}

